name: Build
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4 
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        cache: gradle
    - name: Set up Android SDK
      uses: android-actions/setup-android@v3
      with:
        api-level: '34'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.5'
    - run: |
        gradle :module:assembleRelease
    - uses: actions/upload-artifact@v4 
      with:
        name: zygisk-imgui-modmenu
        path: out/magisk_module_release/